@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
body,
html {
	width: 100% !important;
	height: 100% !important;
	margin: 0 0 0 0 !important;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Comfortaa;
}

.navbar {
	text-align: center;
	background-color: #262626;
	top: 0;
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
}

.navbar ul li {
	margin: auto;
	list-style-type: none;
	overflow: hidden;
	padding: 18px;
	border-bottom: 3px solid #0099ff;
}

.navbar ul li a {
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 20px;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
}

.navbar ul li a:hover {
	background-color: #0099ff;
}

.active {
	background-color: #0099ff;
}

.cv {
	background-color: #fff;
	font-weight: 300;
}

.cv h1 {
	letter-spacing: 4px;
	text-align: center;
	padding: 40px;
}

.cv .sub {
	color: #0099ff;
	text-align: center;
	padding: 20px;
	background-color: #262626;
	width: 100%;
}

.cv p {
	letter-spacing: 1px;
	font-weight: 300;
	padding: 8px;
}

.cv .q {
	color: #0099ff;
	font-weight: 700;
	letter-spacing: 2px;
	user-select: none;
}

.work {
	width: 500px;
	margin: 8px;
}

.small {
	letter-spacing: 1px;
	font-size: 12px;
}
