@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
body,
html {
	width: 100%;
	height: 100%;
}

* {
	font-family: Comfortaa;
	outline: none !important;
	user-select: none;
}

body {
	font-family: Comfortaa;
	background: -moz-linear-gradient(227deg, rgba(42, 42, 42, 1) 0%, rgba(33, 33, 33, 1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(33, 33, 33, 1)), color-stop(100%, rgba(42, 42, 42, 1)));
	background: -webkit-linear-gradient(227deg, rgba(42, 42, 42, 1) 0%, rgba(33, 33, 33, 1) 100%);
	color: #fff;
	overflow: hidden;
}

span.title {
	color: #5BC670;
	font-size: 80px;
	padding: 10px;
	margin-top: 20px;
}

.introduction h1 {
	font-size: 50px;
	letter-spacing: 2px;
	margin-top: 50px;
}

.introduction p {
	font-size: 13px;
	letter-spacing: 1.35px;
	margin-top: 10px;
}

.stats>.nameInput {
	border: none;
	margin: 7px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding: 4px;
	text-align: center;
	width: 140px;
	background-color: transparent;
}

.stats {
	margin-top: 120px;
}

.btn-life {
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 10px;
	letter-spacing: 1px;
	margin-top: 10px;
	background-color: #F25F5C;
	color: #fff;
	transition: 0.18s background-color ease-in-out;
}

.btn-life:hover,
.btn-life:focus,
.btn-life:active {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	color: #fff;
	outline: none !important;
	background-color: #5BC670;
	box-shadow: none;
}

.startGameButtons p {
	margin-top: 10px;
	font-size: 12px;
	color: #f25f5c;
}

.progress {
	border-radius: 0px;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 20px;
	text-align: center;
}

.sLines {
	width: 15px;
	margin-top: 0;
	margin-bottom: 1px;
	border-bottom: 3px solid #1e1e1e;
}

.changelogMain {
	padding: 5px;
}

.changelogMain h2 {
	text-align: center;
	letter-spacing: 2px;
	padding: 12px;
}

.changelogMain p {
	text-align: center;
	letter-spacing: 0.3px;
	padding: 8px;
	line-height: 26px;
}

.closeOpen {
	background-color: #1e1e1e;
	width: 25px;
	margin: 0 auto;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	margin: 0;
}

.navbar-inverse {
	border: none;
	border-bottom: 4px solid #1e1e1e;
	background-color: #2b2b2b;
	border-radius: 0px;
}

.navbar-brand {
	color: #fff !important;
	padding: 20px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	padding: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #5BC670;
	cursor: pointer;
}

.progress-bar-energy {
	background-color: #5F3FB5 !important;
	background-image: none;
	width: 100%;
}

* {
	outline: none;
}

.progress-bar-hunger {
	background-color: #FFE066 !important;
	background-image: none;
	width: 100%;
}

.progress-bar-thirst {
	background-color: #2589B5 !important;
	background-image: none;
	width: 100%;
}

.progress-bar>#energyName,
.progress-bar>#hungerName,
.progress-bar>#thirstName {
	letter-spacing: 1px;
	text-align: center;
	padding: 4px;
}

.progress-bar>#hungerName {
	color: #333;
}

.settings {
	color: #5BC670;
	position: absolute;
	margin: 14px;
	bottom: 0;
	left: 0;
}

.fa-arrow-left {
	background-color: #5BC670;
	border-radius: 50%;
	padding: 12px;
	margin-left: 20px;
	position: absolute;
	transition: 0.15s ease-in-out;
}

.fa-arrow-left:hover {
	background-color: #2F8E42;
}

hr.statsBorderBar {
	border: none;
	width: 100%;
	border-bottom: 4px solid #1e1e1e;
	margin: 0;
}

.changelog {
	color: #5BC670;
	position: absolute;
	margin: 14px;
	bottom: 0;
	right: 0;
}

.changelog:hover,
.settings:hover {
	color: #5BC670;
	cursor: pointer;
}

.btn-button-1 {
	width: 220px;
	background-color: #1e1e1e;
	color: #fff;
	letter-spacing: 1.5px;
	padding: 10px;
	transition: 0.12s ease-in-out;
	border: 2px solid #0e0e0e;
	margin-top: 20px;
}

#bar-energy,
#bar-hunger,
#bar-thirst {
	transition: 0.2s linear;
}

.btn-button-1:hover,
.btn-button-1:active,
.btn-button-1:focus {
	color: #fff;
	background-color: #0e0e0e;
}

.btn-button-1:focus {
	border: 2px solid #0e0e0e;
	background-color: #1e1e1e;
	color: #fff;
}

#textIntro {
	padding: 20px;
}

#textIntro>#textIntroSmall,
#textIntro>#textIntroMain {
	padding: 5px;
	margin-bottom: 10px;
}

#textIntroMain {
	font-size: 50px;
}

#textIntroSmall {
	font-size: 17px;
}

textarea:focus,
input:focus,
button:focus,
.btn:focus,
.btn-button-1:focus {
	outline: none;
}

textarea:active,
input:active,
button:active,
.btn:active,
.btn-button-1:active {
	outline: none;
}
