@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
body,
html {
	width: 100%;
	height: 100%;
}

.version {
	font-family: Open Sans;
	letter-spacing: 1px;
	padding: 2px;
	font-size: 13px;
	color: #fff;
}

body {
	font-family: Roboto, Arial, sans-serif;
	color: #000;
	background-color: #eaeaea;
}

label {
	width: 120px;
}

#container menu {
	display: none;
}

#container menu:target {
	display: block;
}

h1 {
	font-size: 45px;
	font-family: Open Sans;
	font-weight: 700;
	letter-spacing: 2.6px;
}

h2 {
	font-family: Comfortaa;
	font-weight: 700;
	letter-spacing: 1px;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}

.navbar-inverse {
	background-color: #333;
	border-color: #222;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #222;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.topnav {
	background-color: #333;
}

.topnav a {
	font-family: Comfortaa;
	font-size: 15px;
	color: #fff;
	padding: 8px;
}

.changelog {
	position: absolute;
	bottom: 0;
	font-size: 12px !important;
	padding: 8px;
}

.changelog-text {
	font-size: 18px;
	color: #000;
	letter-spacing: 1px;
}

#changelog {}

#stats {
	font-family: Comfortaa;
	letter-spacing: 1px;
	font-size: 17px;
}

.jumbotron {
	background-color: transparent;
}

.main-text {
	font-family: Comfortaa;
	padding: 80px;
	font-size: 55px;
}

.stats {
	font-family: Comfortaa;
	font-size: 14px;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	padding-bottom: 6px;
	padding-top: 6px;
	background-color: #333;
	color: #fff;
	letter-spacing: 1px;
}

.achievement {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	float: left;
	margin: 3px;
	text-align: center;
	text-shadow: 1px 0 0 #0099ff, 0 -1px 0 #0099ff, 0 1px 0 #0099ff, -1px 0 0 #0099ff;
	font-size: 36px;
}

.btn-default {
	font-family: Comfortaa !important;
	outline: none !important;
	border: 1px solid #000;
	font-family: Open Sans;
	letter-spacing: 1px;
	border-radius: 0px;
	color: #fff;
	background-color: #333;
	cursor: pointer;
	margin-top: 4px;
	padding: 8px 12px;
}

input[type="checkbox"] {
	visibility: hidden;
}


/*
.checkbox {
	width: 120px;
	height: 25px;
	background: #333;
	border-radius: 20px;
}
.checkbox:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 14px;
	height: 2px;
	width: 90px;
	background: #111;
}
.checkbox label {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 10%;
	z-index: 1;
	left: 12px;
	background: #ddd;
}
.checkbox input[type=checkbox]:checked + label {
	left: 84px;
	background: #0099ff;
}
*/

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	background-color: #454545 !important;
	color: #fff !important;
	border: 1px solid #000 !important;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
	color: #fff;
	background-color: #454545;
	border-color: #000;
}

.sidenav {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 40px;
	transition: 0.3s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	letter-spacing: 0.8px;
}

.sidenav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 11px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .3s;
	padding: 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.progress-container {
	width: 100%;
	border: 2px solid black;
	height: 1.5em;
	background-color: #f1f1f1;
}

.progressbar {
	background-color: rgb(0, 122, 255);
	height: 100%;
	line-height: inherit;
	text-align: center;
	font-size: 16px;
}

.autobar {
	margin: auto;
	width: 70%;
	height: 0.70em;
	border: 1px solid #000;
}

.round-medium {
	border-radius: 1px!important;
}

.control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	border: 1px solid #333;
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
	background: #ccc;
}

.control input:checked~.control__indicator {
	background: #0099ff;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
	background: #0066ff;
}

.control input:disabled~.control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
	border: 1px solid #000;
}

.control input:checked~.control__indicator:after {
	display: block;
}

.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.control--checkbox input:disabled~.control__indicator:after {
	border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
	background: #7b7b7b;
}

#custom-handle {
	font-family: Comfortaa;
	letter-spacing: 0.8px;
	width: 2.8em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

#slider {
	background: #333;
}
